@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p align="justify">
    The Blockchain of <a style=" color: #570000" href="https://tezos.com/"><strong>Tezos</strong></a> is currently in <b>the search for development projects that help to form its ecosystem</b> and, as expected, as has always been the case with other blockchain, the needs within the ecosystem are very fundamental for the Blockchain de Tezos enjoy a standard usability. On the part of enthusiastic communities of blockchain technology, one of the necessary implementations is <b>the development of web applications</b> that help the blockchain developer of Tezos to <i>create, debug and run their smart contracts in a practical, reliable and secure manner.</i> <br><br>

    This is where <b>the Skyrius proposal</b> was born, “a web application that allows the creation, editing, debugging and deployment of smart contracts in MICHELSON”. <br><br>

    <strong>Skyrius... </strong> <i>why Skyrius?</i> The name of Tezos comes from the Lithuanian, that in Spanish would be Thesis or group of Theses, taking into account that, “each valid contract would be then, chapters of this thesis, from there Skyrius is born”. The <b>project</b> to be <b>open source and web</b> has two high-level language proposals that will be <i>linked to the language of intelligent contracts</i> in MICHELSON. <br><br>

    <b> C#</b> (Core.net, to run on Linux) and <b>Javascript</b> as a high level language. <br>

</p>

